@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Kanit&family=Roboto:ital,wght@1,300&display=swap');

body {
    background-color: #f8f6f3;
    color: #6c757d;
  }

.error-msg {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}