@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Kanit&family=Roboto:ital,wght@1,300&display=swap');

body {
  background-image: url('~@/assets/images/straight-stripes-background.jpg');
  background-size: cover;
  color: #6c757d; 
}

.error-msg {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.innerpage-height {
  max-height: calc(70vh);
  overflow-y: scroll;
  overflow-x: hidden;
}

.innerpage-min-width {
  min-width: 1200px
}

.flip-list-move {
  transition: transform 0.5s;
}

.dot-decoration-header {
  background-image: url("~@/assets/images/dot-decoration-header.png");
  background-size: 80%;
  background-position: top;
}

.dot-decoration-footer {
  background-image: url("~@/assets/images/dot-decoration-footer.png");
  background-size: 80%;
  background-position: bottom ;
}